*{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

header{
    background: #00bcd5;
}

.header-top{
    padding: 0.5em 0;
    background-color: #333;
    color: #FFF;
}

p{
    margin: 0;
    line-height: 1.9em;
    color: #777;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
}

.button-nav{
    background: #ffffff;
    border: 2px #ffffff solid;
    border-radius: 5px;
    color: #00bcd5;
    padding: 6px 30px;
    margin-left: 10px;
}

.nav-link{
    padding: 10px 10px;
    color: #fff;
}

.text-banner{
    margin: 23% 1%;
}

.image-banner {
    padding-top: 7em;
}

.btn:hover {
    color: #fff;
}

.btn-banner{
    border-radius: 0px;
    font-size: 16px;
    color:#fff;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 0%;
}

.btn-banner-1{
    border-style:none;
    background: #00bcd5;
}

.btn-banner-1:hover{
    background: #00bcd5;
}

.btn-banner-2{
    border-style:none;
    background: #ed948e;
}

.btn-banner-2:hover{
    background: #ed948e;
}

.text-banner h3{
    font-size: 4em;
    color: #353c4e;
    line-height: 75px;
    padding-top: 1em;
    font-weight: 300;
    text-shadow: none;
    letter-spacing: 1px;
}

.about-section,
.what-we-do-section{
    margin: 5% 0;
}

.news-section{
    margin: 8% 0;
}

.about-title > h4{
    font-size: 32px;
    color: #353c4e;
    text-transform: capitalize;
}

.icon{
    background: #00bcd5;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 50%;
}

.icon .fa{
    font-size: 2em;
    color: white;
    margin: 25% 0;
}

div.icon-about ~ h4{
    text-transform: uppercase;
    font-size: 1em;
    margin: 1em 0;
    color: #353c4e;
    font-weight: 600;
}

.what-we-do-section{
    background: #f8f9fa;
}

.card{
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, .1);
    padding: 50px 40px;
}

.card h5 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
}

.card-testimonial{
    background: #00bcd5;
    border-style: none;
}

.card-testimonial .fa ,
.card-testimonial p {
    color: #fff;
}

.img-perfil{
    width: 23%;
    margin: .5em 1em 0 1em;
}

.img-perfil img {
    border-radius: 50%;
}

.blog-info h5{
    font-size: 16px;
    font-weight: 600;
    color: #999;
    letter-spacing: 0.5px;
}

.blog-info h4{
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 600;
    color: #353c4e;
}

.btn-banner{
    background: #00bcd5;
    border-radius: 0px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 25px;
    display: inline-block;
    text-decoration: none;
}

.appointment-section{
    background: #00bcd5;
}

.appointment-section h4,
.appointment-section p,
.appointment-section a{
    color: #fff;
}

.appointment-section h4 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.appointment-section a{
    border: 3px white solid;
    width: 20%;
    margin: 0 auto;
}