*{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

header{
    background: #00bcd5;
}

.header-top{
    padding: 0.5em 0;
    background-color: #333;
    color: #FFF;
}

p{
    margin: 0;
    line-height: 1.9em;
    color: #777;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
}

.button-nav{
    background: #ffffff;
    border: 2px #ffffff solid;
    border-radius: 5px;
    color: #00bcd5;
    padding: 6px 30px;
    margin-left: 10px;
}

.nav-link{
    padding: 10px 10px;
    color: #fff;
}

.text-banner{
    margin: 23% 1%;
}

.image-banner {
    padding-top: 7em;
}

.btn:hover {
    color: #fff;
}

.btn-banner{
    border-radius: 0px;
    font-size: 16px;
    color:#fff;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 0%;
}

.btn-banner-1{
    border-style:none;
    background: #00bcd5;
}

.btn-banner-1:hover{
    background: #00bcd5;
}

.btn-banner-2{
    border-style:none;
    background: #ed948e;
}

.btn-banner-2:hover{
    background: #ed948e;
}

.text-banner h3{
    font-size: 4em;
    color: #353c4e;
    line-height: 75px;
    padding-top: 1em;
    font-weight: 300;
    text-shadow: none;
    letter-spacing: 1px;
}

.about-section{
    margin: 5% 0;
}

.about-title > h4{
    font-size: 32px;
    color: #353c4e;
    text-transform: capitalize;
}

.icon{
    background: #00bcd5;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 50%;
}

.icon .fa{
    font-size: 2em;
    color: white;
    margin: 25% 0;
}

div.icon-about ~ h4{
    text-transform: uppercase;
    font-size: 1em;
    margin: 1em 0;
    color: #353c4e;
    font-weight: 600;
}